/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #6859d7  rgba(54, 52, 52, 0.5);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(54, 52, 52, 0.5);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #6859d7;
    border-radius: 20px;
    border: 3px solid rgba(54, 52, 52, 0.5);
  }